* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
  --gray: #a4a4ac;
  --p-font-size: 15px;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  height: 100dvh;
  background-color: var(-light-gray);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  justify-items: center;
  font-family: "Outfit", sans-serif;
  /* font-family: "Rubik", sans-serif; */
}

main {
  background-color: var(--white);
  width: 320px;
  height: 500px;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main > img {
  width: 100%;
  border-radius: 0.5rem;
}

main > h3 {
  font-size: 1.35rem;
  font-weight: 700;
  margin: 1.25rem 1rem 0 1rem;
  color: var(--dark-blue);
  text-align: center;
}

main > p {
  font-size: var(--p-font-size);
  font-weight: 400;
  color: var(--gray);
  margin: 1.25rem 1rem 0 1rem;
  text-align: center;
}

footer {
  align-self: end;
  font-size: 1rem;
}
